<html>

<head>
    <title>Text Laravel Mix</title>
    <link rel="stylesheet" href="../public/css/app.css">
</head>

<body>
    <div id="app">
        <example-component></example-component>
        <div class="max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl">
            <div class="ml-6 pt-1">
              <h4 class="text-xl text-gray-900 leading-tight">Laravel Mix</h4>
              <p class="text-base text-gray-600 leading-normal">Vue Tailwind!</p>
            </div>
        </div>
    </div>
    <script src="../public/js/app.js"></script>
</body>

</html>